
html, body {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-flow: column;
  max-height: 100%;
}

* {
  font-family: 'SF UI Text', sans-serif;
}

nav {
  flex: 0 1 auto;
  max-height: 76px;
  order: 1;
  background-color: darkgrey;
  padding: 0px 40px;
  box-sizing: border-box;
}

.container {
  flex: 1 auto;
  order: 2;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.sidebar {
  flex: 1;
  order: 1;
  background-color: lightgrey;
  padding: 40px;
}

.content {
  flex: 1;
  order: 2;
  padding: 40px;
  overflow-y: scroll;
}

.content-flex {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

nav .brand {
  float: left;
  line-height: 76px;
}

nav .nav-links {
  float: right;
  line-height: 76px;
}

ul.horizontal {
  display: block;
  padding: 0;
  margin: 0;
}

ul.horizontal li {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-right: 16px;
}

ul.vertical {
  display: block;
  list-style-type: none;
  line-height: 40px;
  padding: 0;
  margin: 0;
}

ul.vertical li {
  padding: 0;
  margin: 0;
  margin-right: 16px;
}

.block {
  width: 256px;
  margin: 16px 16px;
  display: inline-block;
  float: left;
  border: 1px solid black;
  padding: 24px;
}

@media all and (min-width: 600px) {
  .container {
    flex-flow: row;
  }

  .sidebar {
    flex: 1;
    order: 1;
  }

  .content {
    flex: 4;
    order: 2;
  }
}
